@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
  box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #1f2937, #08413b);
    min-height: 100vh;
    margin: 0;
    padding: 1px;
  }
  