@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
  box-sizing: border-box;
  font-family: popins;
}

body {
  background: #f4f2f2;
  position: relative;
  min-height: 100vh;
  margin: 0;
  scroll-behavior: smooth;
  margin-top: 120px;
}

::-webkit-scrollbar {
  width: 1px;
}
/* Styling for Firefox */
html {
  scrollbar-width: none;
}

.login{
    padding: 20px;
    position: relative;
    opacity: 0; 
    transform: scale(0);
    transition: opacity .5s ease, transform .5s ease; 
}

.login.visible {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Move into position */
}
button{
  background: #fde66a; 
}
button:hover{
  /* background: linear-gradient(90deg, #98e1e4, #a4b1e3); */
  transform: scale(1.05);
  box-shadow:  1.5px 1.5px rgba(0, 0, 0, 0.3);
}
.primaryDiv{
  background: #b7d7ea;
}

.secondaryDiv{
  background: #f2e8ee;
}
